# Import

In [1]:
import pandas as pd

# Load

In [5]:
df = pd.read_csv(r"C:\Users\Jared\Documents\Files\Jared\Data\Test\jobtitles.csv", header=None)

In [9]:
df.rename(columns={0:"Job_Title"}, inplace=True)

In [10]:
df.head(10)

                                  Job_Title
0                  Global Support Executive
1      MID-LEVEL LEAD GENERATION SPECIALIST
2                   Intermediate Accountant
3                Demand Creation Specialist
4               CUSTOMER SERVICE CONSULTANT
5  Acting Senior People and Culture Manager
6                   Service Delivery Leader
7                    Program Coordinator II
8                          Senior Associate
9                     EMAIL CHAT SPECIALIST

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7990 entries, 0 to 7989
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Job_Title  7989 non-null   object
dtypes: object(1)
memory usage: 62.5+ KB

# Length

In [11]:
len(df)

7990

# Add Column for DTypes

In [32]:
def data_type(job):
    return str(type(job))

In [33]:
df['Data_Type'] = df['Job_Title'].apply(data_type)

In [34]:
df.head()

                              Job_Title      Data_Type
0              Global Support Executive  <class 'str'>
1  MID-LEVEL LEAD GENERATION SPECIALIST  <class 'str'>
2               Intermediate Accountant  <class 'str'>
3            Demand Creation Specialist  <class 'str'>
4           CUSTOMER SERVICE CONSULTANT  <class 'str'>

# Filter Non-Strings

In [35]:
filt = df['Data_Type'] == "<class 'str'>"

In [39]:
df = df[filt]

In [40]:
len(df)

7989

# Convert Case

In [41]:
df['Job_Title'] = df['Job_Title'].apply(lambda x: x.casefold())

C:\Users\Jared\AppData\Local\Temp/ipykernel_2384/3844422919.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Job_Title'] = df['Job_Title'].apply(lambda x: x.casefold())

In [42]:
df.head(10)

                                  Job_Title      Data_Type
0                  global support executive  <class 'str'>
1      mid-level lead generation specialist  <class 'str'>
2                   intermediate accountant  <class 'str'>
3                demand creation specialist  <class 'str'>
4               customer service consultant  <class 'str'>
5  acting senior people and culture manager  <class 'str'>
6                   service delivery leader  <class 'str'>
7                    program coordinator ii  <class 'str'>
8                          senior associate  <class 'str'>
9                     email chat specialist  <class 'str'>

# Spaces

In [56]:
with_newline = df['Job_Title'].str.contains("\(OIC\)")

In [57]:
df[with_newline]

Empty DataFrame
Columns: [Job_Title, Data_Type]
Index: []

# Unique Values

In [13]:
df['Job_Title'].nunique()

7622